<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty name="application" source="spring.application.name"/>
    <contextName>${application}</contextName>

    <!-- Logger Runtime -->
    <if condition='isDefined("KUBERNETES_PORT")'>
        <then>
            <property name="JSON_OUTPUT" value="${JSON_OUTPUT:-true}"/>
        </then>
        <else>
            <property name="JSON_OUTPUT" value="${JSON_OUTPUT:-false}"/>
        </else>
    </if>

    <if condition="${JSON_OUTPUT}">
        <then>
            <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
                <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                    <customFields>{"app":"${application:-default}","target_type":"logs","tag": [${LOG_TAG:-"gantt"}]}
                    </customFields>
                </encoder>
            </appender>
        </then>
        <else>
            <property name="CONSOLE_LOG_PATTERN"
                      value="${CONSOLE_LOG_PATTERN:-%date{ISO8601} %-5level [%.20thread] %logger{35} %marker %mdc - %message%n}"/>
            <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        </else>
    </if>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>